<html>
    <body>
        <div class="container">
        <div style="text-align: center;font-size: 60px">
            FIN<span class="change">GO</span>
           <br><br>
        </div>
        <div style="text-align: justify;font-size: 20px;">FINGO is a fun packed online multiplayer game. It is very similar to the commonly played Bingo, with a pinch of mathematics to kindle your brain.</div>
        <br><div class=change style="font-size: 25px;font-weight: bold;">How to play?</div>
        <br>
        <div>
        <ol >
            <li>Sign up with a fancy name.</li><br>
            <li>Login.</li><br>
            <li>Create a room and share the code with your friends.</li><br>
            <li>FINGO cards have 25 numbers generated randomly.</li><br>
            <li> Each player gets a chance to call out a number(any number). All the players(including the caller) can strike one number on their card, <br>
                &nbsp;if its same as the called number or<br>
                &nbsp;if its a factor of the called number or<br>
                &nbsp;if its a multiple of the called number</li><br>
            <li>Here's where the 'flash' inside you should come in since you'll have only 15 seconds to strike.</li><br>
            <li> If it's your chance to call out a number, u'll have to do it in 10 seconds. Otherwise we'll automaticlly generate a number for u and u'll lose the oppurtunity to create an advantage.</li><br>
            <li>Scoring is based on,<br>
               &nbsp; 5 points for striking a number.<br>
               &nbsp; 20 points for striking all numbers in a row/column.<br>
               &nbsp; 25 points for striking all numbers in a diagonal.</li>
            <li>The first person who strikes all the numbers in their card wins.</li><br>
            <li>No more instructions. Its time to rock and roll!!</li><br><br>
        </ol>
         <span class="change">For any Feedback,Suggestions or Queries contact </span>khishkrish@gmail.com , priyanka99.arav@gmail.com.
    </div>
    <br> <br><div style="text-align: center;">  <button   style="font: normal 18px  cursive ; width: 200px;border: 1px solid #000000;font-weight: 600;background:white" mat-stroked-button color="warn" [routerLink]="['/login']">PLAY</button> </div>
   <br><br> </div>
    </body>
</html>


