<!--<html>
    <body>
        <div style="text-align: center;color:black;font:normal 20px URW Chancery L, cursive ;background-color: white;">
            Logged out successfully!
            <br>
            <button (click)="logoutmsg()"  >OK</button>

        </div>
    </body>
</html>-->

<html>
    <body>
        <div style="text-align: center;color:black;font:normal 20px URW Chancery L, cursive ;background-color: white;">
            <input [(ngModel)]="send"  id="school" name="schoo" type="text" style="width:60%;color:red;" >
            <br>
            <button (click)="type_number()"  >OK</button>

        </div>
    </body>
</html>
