

@font-face {
    font-family: 'Apple Chancery';
    src: url('assets/font/Apple-Chancery.woff2') format('woff2'),
        url('assets/font/Apple-Chancery.woff') format('woff');
    //font-weight: 100;
    font-style: italic;
    font-display: swap;
}


