<html>
  <head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<title>User Dropdown Header</title>
	
		<link rel="stylesheet" >
		<link rel="stylesheet" >
		<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	
	
	</head>
		
  <body>

    <header class="header-user-dropdown">

			<div class="header-limiter">
				<h1>FIN<span>GO</span></h1>
		
    
      
      <div class="header-user-menu">
        <span style="font:normal 28px URW Chancery L, cursive ;">{{username}}</span>
  
        <ul>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
  
    </div>
		
    </header>
    
    <div class="container" 
    fxLayout="column"
         fxLayoutGap="25px">
        <br><br>
        
        <div fxFlex class="example-button-row" style="font: italic bold 20px/30px Georgia, serif;">
          <button (click)="rand()" onclick="this.disabled=true" style=" width: 100px;border: 1px solid #000000;font-size: 1em;font-weight: 600;background:white"  mat-stroked-button color="warn">START</button>
      <div *ngIf="call_number"><span style="font-size: 100%;color:red">{{call_number}}</span><br></div>  
          <br>
         &nbsp;&nbsp; <span style="font-size: 100%;color:red; ">{{ones}}</span>
        </div>
    </div>

        <div class="container flex-container" 
        fxLayout="row"
        fxLayout.gt-lg="row"
        fxLayout.lt-sm="column"
        fxLayout.gt-md="row"
        fxLayout.xs="column"
        fxLayout.sm="columnn"
        fxLayoutAlign.gt-md="space-around start"
        fxLayoutGap="20px">
        
                <mat-grid-list fxFlex cols="5" rowHeight="2:1">
                  <mat-grid-tile >F</mat-grid-tile>
                  <mat-grid-tile>I</mat-grid-tile>
                  <mat-grid-tile>N</mat-grid-tile>
                  <mat-grid-tile style="color: #bc40df;">G</mat-grid-tile>
                  <mat-grid-tile  style="color: #bc40df;">O</mat-grid-tile>
                
               <mat-grid-tile *ngFor="let random_number of random_numbers;let i=index" ><div (click)="selectItem($event)"  id="r{{i+1}}">{{random_number}}</div></mat-grid-tile>
                
              </mat-grid-list>    
              
     
        <mat-table fxFlex  #table [dataSource]="dataSource">
      
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      
          
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
  
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      <br><br>
    </div>
    
    
  </body>
</html>
