
<html >
    <body >
      <div fxFlex fxLayout="column" >
       <div style="z-index: 3;" *ngIf="!winner">
      <h1><span>C</span><span>O</span><span>N</span><span>G</span><span>R</span><span>A</span><span>G</span><span>U</span><span>L</span><span>A</span><span>T</span><span>I</span><span>O</span><span>N</span><span>S</span><span>!</span></h1>
      <div style="text-align:center;color:white;font:normal 22px URW Chancery L, cursive ;" >YOU WON</div></div>
    <br><br>  <div *ngIf="winner" style="z-index: 3;text-align:center;color:white;font:normal 22px URW Chancery L, cursive ;font-weight: bold;text-transform: uppercase;"> {{winner}} won</div>
      <div><br><br></div>
      
        <mat-table  class="container" fxFlex style="z-index: 3;"  #table [dataSource]="dataSource">
      
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell class="w-75" *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell class="w-75" *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
    
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <mat-header-cell class="w-75" *matHeaderCellDef> Score </mat-header-cell>
              <mat-cell class="w-75" *matCellDef="let element"> {{element.position}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <br><br><br><div style="text-align:center;color:blue;font:normal 15px URW Chancery L, cursive ;text-decoration:underline"  ><a  (click)="go_room()">Click here to play again</a></div>
        </div>
        <br><br>
            <div class="hanabi1">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi2">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi3">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi4">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi5">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi6">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi7">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi8">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi9">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi10">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi11">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi12">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
              <div class="hanabi13">
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
                <div class="hii"></div>
              </div>
            
            <div></div>
          
    </body>
</html>
