<html>
    <body>
        
        <div class="login-wrap">
	<div class="login-html">
        <div *ngIf="infoMessage.length > 0">{{ infoMessage }}</div><br><br>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
                
                <form [formGroup]="signinForm" #sform="ngForm" (ngSubmit)="onSubmitsignin()">
 				<div class="group">
					<label for="user" class="label">Email Address</label>
					<input  type="text" formControlName="EMAILADDRESS" class="input" >
                    <error-message [control]="signinForm.controls.EMAILADDRESS" *ngIf="submit_signin"></error-message>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input  type="password" formControlName="PASSWORD" class="input" [ngClass]="{ 'is-invalid': submit_signin &amp;&amp; signinForm.controls.PASSWORD.errors }"  />
                    
				</div>
				<div class="group">
                    <input type="submit" class="button" value="Sign In"  > 
				</div>
                </form>
			</div>
			<div class="sign-up-htm">
                <form [formGroup]="signupForm" #fform="ngForm" (ngSubmit)="onSubmitsignup()">
                <div class="group">
					<label for="pass" class="label">Email Address</label>
					<input  type="text" formControlName="EMAILADDRESS"  class="input" [ngClass]="{ 'is-invalid': submit_signup &amp;&amp; signupForm.controls.EMAILADDRESS.errors }"  />
                    <error-message [control]="signupForm.controls.EMAILADDRESS" *ngIf="submit_signup"></error-message>
				</div>    
				<div class="group">
					<label for="user" class="label">Username</label>
					<input  type="text" formControlName="USERNAME" class="input" [ngClass]="{ 'is-invalid': submit_signup &amp;&amp; signupForm.controls.USERNAME.errors }"  />
                    <error-message [control]="signupForm.controls.USERNAME" *ngIf="submit_signup"></error-message>
                </div>

				<div class="group">
					<label for="pass" class="label">Password</label>
					<input  type="password" formControlName="PASSWORD" class="input" [ngClass]="{ 'is-invalid': submit_signup &amp;&amp; signupForm.controls.PASSWORD.errors }"  />
                    <error-message [control]="signupForm.controls.PASSWORD" *ngIf="submit_signup"></error-message>
                    
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input  type="password" formControlName="REPEATPASSWORD"  class="input" [ngClass]="{ 'is-invalid': submit_signup &amp;&amp; signupForm.controls.REPEATPASSWORD.errors }"  />
                    <error-message [control]="signupForm.controls.REPEATPASSWORD" *ngIf="submit_signup"></error-message>
				</div>
				
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				
                </form>
			</div>
		</div>
	</div>
</div>
    </body>
</html>



