<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>User Dropdown Header</title>

	<link rel="stylesheet" >
	<link rel="stylesheet" >
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>

<body>

<header class="header-user-dropdown">

	<div class="header-limiter">
		<h1>FIN<span>GO</span></h1>
		<div class="header-user-menu" >
			
			<span style="font:normal 20px URW Chancery L, cursive ;">{{username}}</span>
			<ul>
				<li style="font:normal 15px URW Chancery L, cursive ;"><a (click)="logout()">Logout</a></li>
			</ul>
		</div>

	</div>

</header>
    
    
<div class="container">
<div class="tabs"  >
  <div class="tab-2"  >
    <label style="color: black; font: normal 20px URW Chancery L, cursive ;" for="tab2-1">CREATE</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div class="textbox" >
        <div class="container" style="text-align: center;">
            
			
			<span class="change"style="font: normal 20px URW Chancery L, cursive ;">No. of players:       </span>
			<mat-form-field >
				
				<mat-select class="mat-dropdown" trigger="alarmTrigger" #alarmSelect >
				  <mat-option *ngFor="let player of no_of_players" [value]="player" (click)="getInnerText(player)" style="color:#bc40df;font: normal 18px URW Chancery L, cursive ;">
					{{player}}
				  </mat-option>
				</mat-select>
			  </mat-form-field>
			  <br><br><div *ngIf="no_selected">  <button (click)="getroomcode();" onClick="this.disabled=true;" style="font: normal 18px URW Chancery L, cursive ; width: 200px;border: 1px solid #000000;font-weight: 600;background:white" mat-stroked-button color="warn">CREATE ROOM</button> </div>
			<!--<button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="font: normal 18px URW Chancery L, cursive ; width: 100px;border: 1px solid #000000;font-weight: 600;background:white" mat-stroked-button>
				<span>Select</span>
				<mat-icon>arrow_drop_down</mat-icon>
			  </button>
			  <mat-menu #menu="matMenu" >
				<button mat-menu-item style="width: 120px;" *ngFor="let player of no_of_players">
				  <span>{{player}}</span>
				</button>
				<button mat-menu-item style="width: 120px;">
				  <span>3</span>
				</button>
				<button mat-menu-item style="width: 120px;" >
				  <span>4</span>
				</button>
				<button mat-menu-item style="width: 120px;">
					<span>5</span>
				 </button>
			  </mat-menu>-->
	</div>
	<div *ngIf="roomcode" style="text-align: center;color:white;font: normal 20px URW Chancery L, cursive ;">
		<br><br>ROOMCODE:<span class="change"><b>{{roomcode}}</b></span>
		<br><br><span>Share the code with your friends!<br>Have a happy play!<br>Please don't reload or press back button in the game page.<br>Else, you'll lose all your progress.<br></span>
	</div>
	<div *ngIf="wait_to_join" style="text-align: center;color:white;font: normal 20px URW Chancery L, cursive ;"><mat-spinner style="margin:0 auto;" class="stroke" diameter="40"></mat-spinner> <span>Waiting for players to join</span></div>
	<div *ngIf="icreatedroom" style="text-align: center;color:white;font: normal 20px URW Chancery L, cursive ;">
		<br>{{other_players}} has joined!
	</div>
  </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2" style="color: black;font: normal 20px URW Chancery L, cursive ;" >JOIN</label>
    <input id="tab2-2" name="tabs-two" type="radio">
    <div class="textbox" >
	  <label for="school" style="text-align: center;margin-left: 10px ;font: normal 20px URW Chancery L, cursive ;" >ROOMCODE:</label>
	  <div style="text-align: center;">
	<input #code id="school" name="schoo" type="text" style="width: 40%;color:red;font: normal 18px URW Chancery L, cursive ;" > </div><br><br>
	<div class="container" style="text-align: center;">
            
		<button  (click)=setroomcode(code.value);  style="font: normal 18px URW Chancery L, cursive ; width: 200px;border: 1px solid #000000;font-weight: 600;background:white" mat-stroked-button color="warn" >JOIN ROOM</button>
</div>
<div *ngIf="ijoinedroom"  style="text-align: center;color:white;font: normal 20px URW Chancery L, cursive ;">
	<br>{{other_players}} has joined!
</div>
    </div>
  </div>
  <!--<hr style="width: 100%;
height: 3px;
margin-left: auto;
border:1px solid black;
margin-right: auto;
background-color: white">
<div>INSTRUCTIONS:<br><br>
	1. FINGO cards have 25(5*5) randomly numbered squares on them. <br><br>
	2. Each player gets a turn alternatively to draw a number to be striked.<br><br>
</div>-->
</div>

    </div>
    </body>
</html>