<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>User Dropdown Header</title>

	<link rel="stylesheet" >
	<link rel="stylesheet" >
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>

<body>

<header class="header-user-dropdown">

	<div class="header-limiter">
		<h1>FIN<span>GO</span></h1>

	<!--	<nav>
			<a href="#">Overview</a>
			<a href="#">Surveys</a>
			<a href="#">Reports</a>
			<a href="#">Roles <span class="header-new-feature">new</span></a>
		</nav>-->


		<div class="header-user-menu">
			<img src="assets/2.jpg" alt="User Image"/>

			<ul>
				<li><a href="#" >change Password</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>

	</div>

</header>
    
    <div class="perspective">

  <label class="tab" for="tab-top">CREATE</label>
 <!-- <label class="tab" for="tab-front">FRONT</label>-->
  <label class="tab" for="tab-bottom">JOIN</label>
  <input type="radio" name="tabs" id="tab-top">
  <!--<input type="radio" name="tabs" id="tab-front">-->
  <input type="radio" name="tabs" id="tab-bottom"> 

  <div class="cube">
    <div class="tab-content">
      <h1>ROOM CODE</h1>
      <p>THIS IS AWESOME</p>
    </div>
     <div class="tab-content">
      <h1>GET THE CODE</h1>
      <p>Have a happy play!</p>
    </div>
    <div class="tab-content">
      <h1>ROOM CODE</h1>
      <p>THIS IS SWEET</p>
    </div>
  </div>
</div>
    </body>
</html>