<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>User Dropdown Header</title>

	<link rel="stylesheet" >
	<link rel="stylesheet" >
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>

<body>

<header class="header-user-dropdown">

	<div class="header-limiter">
		<h1>FIN<span>GO</span></h1>

	<!--	<nav>
			<a href="#">Overview</a>
			<a href="#">Surveys</a>
			<a href="#">Reports</a>
			<a href="#">Roles <span class="header-new-feature">new</span></a>
		</nav>-->


		<div class="header-user-menu" >
			
			<span style="font:normal 28px URW Chancery L, cursive ;">{{username}}</span>
			<ul>
				<li><a (click)="logout()">Logout</a></li>
			</ul>
		</div>

	</div>

</header>
    
    
<div class="container">
<div class="tabs"  >
  <div class="tab-2"  >
    <label style="color: black; font: normal 20px URW Chancery L, cursive ;" for="tab2-1">CREATE</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div class="textbox" >
        <div class="container" style="text-align: center;">
            
            <button (click)="getroomcode();" onClick="this.disabled=true;" style=" width: 200px;border: 1px solid #000000;font-size: 1em;font-weight: 600;background:white" mat-stroked-button color="warn">CREATE ROOM</button>
	</div>
	<div *ngIf="roomcode" style="text-align: center;color:white;font: normal 20px URW Chancery L, cursive ;">
		<br><br>ROOMCODE:<span class="change"><b>{{roomcode}}</b></span>
		<br><br><span>Share the code with your friends!<br>Have a happy play!</span>
		<br><br><button *ngIf="other_players" style=" width: 200px;border: 1px solid #000000;font-size: 1em;font-weight: 600;background:white" mat-stroked-button color="warn">PLAY</button>
	</div>
	<div *ngIf="icreatedroom" [@visibility]="visibility" style="text-align: center;color:white;font: normal 20px URW Chancery L, cursive ;">
		<br>{{other_players}} has joined!
	</div>
	<div [hidden]="other_players">
		<mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
		  </div>
    <!--<label for="school" style="text-align: justify;margin-left: 10px;" >Room Code:</label>
    <input id="school" name="schoo" type="text" style="width: 50%;margin-left: 10px;color:red" >  --> 
  </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2" style="color: black;font: normal 20px URW Chancery L, cursive ;">JOIN</label>
    <input id="tab2-2" name="tabs-two" type="radio">
    <div class="textbox">
	  <label for="school" style="text-align: center;margin-left: 10px;" >Room Code:</label>
	  <div style="text-align: center;">
	<input #code id="school" name="schoo" type="text" style="width: 40%;color:red;" > </div><br><br>
	<div class="container" style="text-align: center;">
            
		<button  (click)=setroomcode(code.value); onClick="this.disabled=true;" style=" width: 200px;border: 1px solid #000000;font-size: 1em;font-weight: 600;background:white" mat-stroked-button color="warn">JOIN ROOM</button>
</div>
<div *ngIf="ijoinedroom" [@visibility]="visibility" style="text-align: center;color:white;font: normal 20px URW Chancery L, cursive ;">
	<br>{{other_players}} has joined!
</div>
    </div>
  </div>
  <!--<hr style="width: 100%;
height: 3px;
margin-left: auto;
border:1px solid black;
margin-right: auto;
background-color: white">
<div>INSTRUCTIONS:<br><br>
	1. FINGO cards have 25(5*5) randomly numbered squares on them. <br><br>
	2. Each player gets a turn alternatively to draw a number to be striked.<br><br>
</div>-->
</div>

    </div>
    </body>
</html>