/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import './variables';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
//import * as $ from 'jquery';
//@import './mixins';
//@import '../node_modules/font-awesome/scss/font-awesome';

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.container{
    
}
.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  background-color: darkorange;
  padding: 4px;
    
}
.grid-item {
  background-color: rgba(255, 255, 153);
  border: 1px solid rgba(255, 140, 0, 1);
  padding: 30px;
  font-size: 25px;
    color: black;
  text-align: center;
      
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  background-color: white;
  font-size: 16px;
  width: 100px;
}

.header-user-dropdown {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-user-dropdown .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-user-dropdown .header-limiter h1{
	float: left;
	font: normal 28px URW Chancery L, cursive ;
	line-height: 40px;
	margin:0;
}

.header-user-dropdown .header-limiter h1 span {
	color: #bc40df;
}

/* The header links */

.header-user-dropdown .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-user-dropdown .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-user-dropdown .header-limiter nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0 12px;
	opacity: 0.9;
	position: relative;
	text-decoration:none;
	line-height: 1;
}

.header-user-dropdown .header-limiter nav a:hover {
	opacity: 1;
}

/* The "new" badge */

.header-user-dropdown .header-limiter nav a span {
	position: absolute;
	top: -12px;
	border-radius: 2px;
	background-color: #2A6A92;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	height: 13px;
	font-size: 11px;
	right: -15px;
	padding: 1px 4px 0;
}

/* The user menu */

.header-user-dropdown .header-limiter .header-user-menu{
	position: relative;
	float:right;
	background-color:#3a3c3e;
	width:75px;
	height:40px;
	border-radius:2px;
}

.header-user-dropdown .header-limiter .header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-user-dropdown .header-limiter .header-user-menu ul{
	display: none;
	font:bold 11px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-user-dropdown .header-user-menu:active ul,
.header-user-dropdown .header-user-menu:hover ul,
.header-user-dropdown .header-user-menu.show ul{
	display:block;
}

.header-user-dropdown .header-user-menu ul li{
	padding:5px;
}

.header-user-dropdown .header-user-menu ul li a:hover{
	opacity:0.9;
}

.header-user-dropdown .header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-dropdown .header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}


@media all and (max-width: 800px) {

	.header-user-dropdown .header-limiter h1 {
		font-size: 24px;
	}

	.header-user-dropdown .header-limiter nav a {
		padding: 0 5px;
	}

	.header-user-dropdown .header-limiter nav {
		margin-left: 20px;
	}

}

@media all and (max-width: 600px) {

	.header-user-dropdown .header-limiter nav {
		display: none;
	}

}



html{
	background-color: #eaf0f2;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

.menu{
	text-align: center;
	padding-top: 25px;
	margin-bottom:200px;
}

.menu img{
	opacity: 0.4;
	margin: 20px auto;
}

.menu h1{
	margin-top:0;
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

.menu h2{
	color: #F05283;
}

.menu h2 a{
	color:inherit;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #F05283;
	padding: 10px 15px;
	border-radius: 3px;
	font: bold 14px/1 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.menu h2 a:hover{
	background-color:#F05283;
	transition:0.2s;
	color:#fff;
}

.menu ul {
	max-width: 600px;
	margin: 60px auto 0;
}

.menu ul a{
	text-decoration: none;
	color: #FFF;
	text-align: left;
	background-color: #B9C1CA;
	padding: 10px 16px;
	border-radius: 2px;
	opacity: 0.8;
	font-size: 16px;
	display: inline-block;
	margin: 4px;
	line-height: 1;
	outline: none;

	transition: 0.2s ease;
}

.menu ul li a.active{
	background-color: #66B650;
	pointer-events: none;
}

.menu ul li a:hover {
	opacity: 1;
}

.menu ul{
	list-style: none;
	padding: 0;
}

.menu ul li{
	display: inline-block;
}

@media (max-height:800px){
	.menu { padding-top:40px; }
}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}
body {
  background: #F8FFE5;
}
.perspective {
	perspective: 76em;
	perspective-origin: 50% 50px;
  width: 494px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
input {
  display: none;
}
.tab {
  position: absolute;
  width: 80px;
  height: 108px;
  background: pink;
  right: 0;
  line-height: 70px;
  font-weight: 300;
  
  &:nth-child(1) { 
    top: -4px;
    background: #06D6A0;
  }
  &:nth-child(2) {
    top: 108px;
    background: #e75480 ;
  }
  
}

.cube {
  position: relative;
  margin: 60px auto 0;
  width: 300px;
  height: 200px;
  transform-origin: 0 100px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
}
.tab-content {
  width: 300px;
  height: 200px;
  position: absolute;
  
  h1 {
    font-size: 25px;
    margin: 75px 0 10px;
    font-weight: 300;
  }
  p {
    font-size: 12px;
  }
  &:nth-child(2) {
    transform: translateZ(100px);
    background: #1B9AAA;
  }
  &:nth-child(1) {
    transform: rotateX(-270deg)
               translateY(-100px);
    transform-origin: top left;
    background: #06D6A0;
  }
  &:nth-child(3) {
    transform: rotateX(-90deg)
               translateY(100px);
    transform-origin: bottom center;
    background: #EF476F;
  } 
}

#tab-top:checked ~ .cube {
  transform: rotateX(-90deg);
}
#tab-front:checked ~ .cube {
  transform: rotateX(0deg);
}
#tab-bottom:checked ~ .cube {
  transform: rotateX(90deg);
}
